<h1>Edit your new task</h1>
<h2><%= @task.title %></h2>

<%= form_for(@task) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.label :completed %>
  <%= f.check_box :completed %>
  <%= f.submit "Update Task!" %>
<% end %>
<br>
<%= link_to "Back to task", tasks_path %>
