<h1>Create your new task</h1>

<%= form_for(Task.new) do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :details %>
  <%= f.text_field :details %>
  <%= f.submit "Create Task!" %>
<% end %>
<br>
<%= link_to "Back to task", tasks_path %>

<!-- <form action="/tasks" method="post">
  <input type="text" name="title">
  <input type="text" name="details">
  <input type="submit">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
</form>
 -->
